html {
  --black-bg: #1f2024;
  --primary-text: rgb(216, 216, 216);
}

body {
  min-width: 200px;
  background-color: var(--black-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

#heading {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 2rem;
}

#btn-message {
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-accessory {
  width: 1.2rem;
  margin-right: 0.5rem;
}
