html {
  --bg-primary: rgb(65, 78, 236);
  --primary-text: rgb(233, 227, 227);
}

body {
  min-width: 250px;
  background-color: var(--bg-primary);
  padding-top: 5rem;
}

#heading {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 2rem;
}

#info-text {
  color: var(--primary-text);
  font-weight: 300;
  font-size: 1rem;
  max-width: 70%;
  text-align: center;
}

#btn-message {
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
}

#btn-accessory {
  width: 1.2rem;
  margin-right: 0.5rem;
}

#logo {
  width: 6rem;
  height: 6rem;
}

#refresh {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
}
