html {
  --bg-primary: rgb(65, 78, 236);
  --primary-text: rgb(233, 227, 227);
}

body {
  min-width: 250px;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

#heading {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 2rem;
}

#btn-message {
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-accessory {
  width: 1.2rem;
  margin-right: 0.5rem;
}

#logo {
  width: 6rem;
  height: 6rem;
}

.footer {
  color: var(--primary-text);
  opacity: 0.9;
}

.space-mt {
  margin-top: 3rem;
}

.text-bold {
  font-weight: bold;
}
