.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;

  position: absolute;
  z-index: 1;
}

.tooltip-left {
  left: -250%;
  top: 10px;
}

.tooltip-right {
  right: -250%;
  top: 10px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
